.pliMainView {
	height: calc(100% - 90px);
	margin-left: 80px;
}

.platformInfoContentContainer {
    height: 100%;
	outline: none;
}

.pliPlatformInfoContent {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.platformInfoBusyLoader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100;
	display: none;
}

.pliPlatformInfoTable {
	width: 100%;
}

.pliPlatformInfoTable tr td {
	color: #444444;
	font-size: 34px;
	padding: 6px 14px;
}

.pliCopyrightText {
	position: absolute;
	bottom: 20px;
	color: #444444;
	font-size: 30px;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	white-space: nowrap;
}
